<div class="main-container">

  <h2>Your {{ title }}:</h2>


<div *ngIf="list.length > 0; else noList">

  <div class="list-container">

    <div class="list-obj" *ngFor="let show of list">
      <app-show-card [show]="show" [isSmall]="true"></app-show-card>
      <!-- <button (click)="delete(show.id)">X</button> -->
      <i class="fa-solid fa-circle-xmark" (click)="delete(show.id)" style="cursor: pointer;"></i>
    </div>

  </div>

</div>
<ng-template #noList>
  <p>No shows in your {{ title }}.</p>
</ng-template>

</div>