<div class="main-container">

  <div class="form-container">

    <div class="left-container">

      <h4><b>Login to Your Account</b></h4>

      <div><input [(ngModel)]="email" placeholder="Email" /></div>
      <div><input [(ngModel)]="password" type="password" placeholder="Password" /></div>

      <div><button (click)="onLogin()">Login</button></div>
      <div class="reg-button"><button (click)="onRegister()">Register</button></div>

        <label class="toggle-switch">
          <input type="checkbox" id="theme-toggle" (change)="onThemeToggle($event)" />
          <span class="slider"></span>
          <i id="moon-icon" class="fas fa-moon"></i>
        </label>

      <div *ngIf="message" class="alert alert-warning">
        {{ message }}
      </div>

    </div>

    <div class="right-container">
      <img src="assets/login_image_v1.jpg" alt="Default Image">
    </div>

  </div>

</div>