<app-navbar></app-navbar>

<div class="main-container">

  <img src="assets/binge_buddy_icon.png" alt="Default Image">

  <h2>Welcome back EMAIL!</h2>


  <button (click)="toggleList()" [disabled]="firstList" style="margin-right: 10px;">watch-list</button>
  <button (click)="toggleList()" [disabled]="!firstList" style="margin-right: 10px;">your history</button>

  <div *ngIf="firstList">
    <app-list [list]="watchlist" [category]="AppConstants.CATEGORIES.WATCH_LIST"
      [title]="AppConstants.CATEGORIES.WATCH_LIST" (onDelete)="delete($event, AppConstants.CATEGORIES.WATCH_LIST)">
    </app-list>
  </div>

  <div *ngIf="!firstList">
    <app-list [list]="history" [category]="AppConstants.CATEGORIES.HISTORY" [title]="AppConstants.CATEGORIES.HISTORY"
      (onDelete)="delete($event, AppConstants.CATEGORIES.HISTORY)">
    </app-list>
  </div>

</div>