:root {
  --background: #e0e0e0;
  --background-variant: #b9b9b9;
  --text: #000000;
  --accent: #403055;
  --accent-variant: #624b80;

  --login: #969696;
  --login-darker: #727272;
  --login-accent: #ffc1ad;
  --login-accent-darker: #a8857a;
  --input-bg: #4e4e4e;
}

.dark-mode {
  --background: #333333;;
  --background-variant: #272727;
  --text: #ffffff;
  --accent: #b277ff;
  --accent-variant: #6f4c9c;

  --input-bg: #4e4e4e;
  --button-text: #ffffff;
}

/* .dark-mode-2 {
  --background: #121212;
  --background-variant: #333333;
  --text: #ffffff;
  --accent: #b277ff;
  --accent-variant: #6f4c9c;

  --input-bg: #4e4e4e;
} */

.light-mode {
  --background: #e0e0e0;
  --background-variant: #b9b9b9;
  --text: #000000;
  --accent: #403055;
  --accent-variant: #624b80;

  --input-bg: #e0e0e0;
  --button-text: #ffffff;
}